@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");



*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #020228;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #00000069;
    align-items: center;
    padding: 1em;
    gap: 1em;
    position: fixed;
    width: 95vw;
    z-index: 10;
}

header nav{
    display: flex;
    flex-direction: row wrap;
    gap: 1.5em;
}

header img{
    height: 0.8em;
}

header nav #btn-entrar{
    background-color: transparent;
}

main{
    display: flex;
    flex-direction: column;
    background-color: #171618;

}
#section-one{
    text-align: center;
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#171618  40%, #53048728, #020228);
    padding: 1.5em;
    color: white;
    gap: 0.1em;
}


#section-one nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

#card-one{
    border-radius: 5px;
    background: linear-gradient(to bottom, #2e1b52b8 ,#020228);
    margin: 1em 1em;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1em;
}

#card-one ul{
    margin: 2em 0em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    font-weight: 400;
}

#card-one-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em auto;
    text-align: center;
}

#new-universes{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    color: white;
    margin: 1em auto;
    flex-wrap: nowrap;
}
 
#new-universes-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    gap: 1.3em;
    overflow: scroll;
    overflow-y: hidden;
    animation: 35s slide infinite linear;
    margin-left: 1.5em;
    margin-right: 1.5em;

}

footer{
    margin-top: 4em;
    color: white;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

footer #nav1 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.256);
    font-weight: 700;
    gap: 0.5em;
}

footer #nav2 ul{
    display: flex;
    flex-direction: row;

    list-style-type: none;
    gap: 3em;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;

}


footer p{
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.256);
    text-align: center;
    margin: 1em 1em;
}


#new-universes-cards img{
    height: 25em;
    
}

#btn-assine-agora{
    display: flex;
    justify-content: center;
    background-color: #b535f6;
    padding: 0.5em;
    border-radius: 25px;
    cursor: pointer;
    width: 10em;
    height: 2em;
    transition:0.5s;
}

#btn-entrar a, #btn-assine-agora a{
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}


#section-one h3{
    margin: 0.5em auto;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    width: 6em;  
}

#section-one h2{
    font-family: "Raleway", sans-serif;
    font-size: 2.3em;
    position: relative;
    top: -0.2em;
    
}

#section-one #divisoria{
    background: linear-gradient(to right, rgb(83, 8, 175), rgb(180, 6, 139));
    width: 10em;
    text-align: center;
    margin: 1em auto;
    height: 0.2em;
}

#section-one p{
    font-family: "Raleway", sans-serif;
    margin-bottom: 0.5em;
}

#section-one h2 span{
    font-style: italic;
    font-size: 0.4em;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.525);
}

#section-one button{
    font-family: "Raleway", sans-serif;
    margin: 1.5em auto;
    width: 13em;
    height: 3em;
    border-radius: 25px;
    color: white;
    background: linear-gradient(
        26deg,
        #b535f6,
        #9b34ef,
        #490cb0 50% 
        
    );
    font-weight: 700;
    letter-spacing: 2px;

    animation: wiggle 2.5s infinite;
}

#section-one #text-aplicavel{
    font-size: 0.8em;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.525);
}

#wb_logo{
    margin-right: 1em;
}

#btn-assine-agora:hover{
    background-color: #602a7b;
}

#card-section p{
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    margin: 1em 1em;
    font-weight: 500;
    text-align: center;
}

#card-one-price p{
    font-weight: 600;
    font-size: 1.2em;
}

#card-one-price #price{
    color: rgb(255, 3, 238);
    font-size: 1.2em;
}

#card-one-price p span{
    font-style: italic;
    font-size: 0.7em;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.525);
}

#plus{
    font-size: 1.5em;
    margin-right: 0.3em;
}

#card-one button{
    margin-top: 6em;
    height: 4em;
    border-radius: 30px;
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 700;
    background: linear-gradient(
        26deg,
        #b535f6,
        #9b34ef,
        #490cb0 50% 
        
    );

    cursor: pointer;

}


#new-universes h2{
    width: 10em;
    margin: 3em auto 1em auto;
}

#new-universes-cards::-webkit-scrollbar {
    width: 8px; 
    height: 12px; 
}

#new-universes-cards::-webkit-scrollbar-thumb {
    background-color: #b535f6; 
    border-radius: 10px; 
}

@keyframes wiggle{
    0%{
        transform: rotate(0);
    }

    10%{
        transform: rotate(10deg);
    }

    15%{
        transform: rotate(-10deg);
    }

    20%{
        transform: rotate(10deg);
    
    }

    25%{
        transform: rotate(-10deg);
    }

    30%{
        transform: rotate(10deg);
    }

    35%{
        transform: rotate(-10deg);
    }

    40%, 100%{
        transform: rotate(0);
    }
}